<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.mapper.ReviewMapper">

    <insert id="saveDrugReview" parameterType="review">
        INSERT into review(uid,review,review_date,drid)
        values(#{userId},#{userReview},now(),#{DrugId})
    </insert>
</mapper>
