<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.mapper.TimInoculationMapper">
    <select id="selectTimInoculation" resultMap="timInoculation">
    select *from tim_inoculation a JOIN vaccine b JOIN hospital c ON a.vid = b.id
WHERE  a.hid = c.id AND a.uid = #{User.id};
</select>
    <resultMap id="timInoculation" type="timInoculation">
        <id property="id" column="id"></id>
        <result property="time" column="time"></result>
        <result property="uid" column="uid"></result>
        <association property="vaccine" column="vid" javaType="vaccine">
            <id property="id" column="id"></id>
            <result property="vname" column="vname"/>
            <result property="vaccineType" column="vaccine_type"/>
            <result property="vaccineDate" column="vaccine_date"/>
            <result property="preautions" column="preautions"/>
            <result property="number" column="number"/>
            <result property="wid" column="wid"/>
            <result property="amLnoculationDate" column="am_lnoculation_date"/>
            <result property="amOverDate" column="am_over_date"/>
            <result property="pmLnoculationDate" column="pm_lnoculation_date"/>
            <result property="pmOverDate" column="pm_over_date"/>
        </association>
        <association property="hospital" column="hid" javaType="hospital">
            <id property="id" column="id"/>
            <result property="hName" column="h_name"/>
            <result property="address" column="address"/>
            <result property="hTel" column="h_tel"/>
            <result property="information" column="information"/>
        </association>
    </resultMap>

    <resultMap id="addtim" type="com.medical.entity.TimInoculation">
        <collection property="user" ofType="com.medical.entity.User"></collection>
        <collection property="vaccine" ofType="com.medical.entity.Vaccine">
            <id property="id" column="id"/>
            <result property="vaccineType" column="vaccine_type"/>
            <result property="vaccineDate" column="vaccine_Date"/>
            <result property="amLnoculationDate" column="am_lnoculation_date"/>
            <result property="amOverDate" column="am_over_date"/>
            <result property="pmLnoculationDate" column="pm_lnoculation_date"/>
            <result property="pmOverDate" column="pm_over_date"/>
        </collection>
        <collection property="hospital" ofType="com.medical.entity.Hospital">
            <id property="id" column="id"/>
            <result property="hName" column="h_name"/>
            <result property="hTel" column="h_tel"/>
        </collection>
    </resultMap>

    <select id="byTimInoculation" resultMap="addtim">
            SELECT user.name,tim_inoculation.*,vaccine.* FROM user, tim_inoculation, vaccine
            WHERE
            tim_inoculation.uid=user.id and tim_inoculation.vid=vaccine.id and tim_inoculation.id=#{id}
    </select>

    <!--    添加预约-->
    <insert id="addTimInoculation" parameterType="com.medical.entity.TimInoculation">
           INSERT into tim_inoculation(time,vid,uid,hid) values(#{timInoculation.time},#{timInoculation.vid},#{timInoculation.uid},#{timInoculation.hid})
    </insert>
    <!--    查询医院id-->
    <select id="byId" resultMap="addtim">
        select hospital.id from hospital where hospital.h_name=#{hName}
    </select>

    <!--  用于查询之前预约疫苗的时间-->
    <select id="whetherVaccine" resultType="com.medical.entity.TimInoculation">
            SELECT user.*,tim_inoculation.*,vaccine.* FROM user, tim_inoculation, vaccine
            WHERE
            tim_inoculation.uid=user.id and tim_inoculation.vid=vaccine.id and user.id=#{id} and vaccine.name=#{name}
    </select>

    <!--  用于查询库存  -->
    <select id="byVaccineName" resultType="com.medical.entity.Vaccine">
        select vaccine.* from vaccine where vaccine.vname=#{name}
    </select>

    <select id="gettim" resultMap="TimInoculation">
        select t.tim_state,v.vname,u.name, h.h_name from hospital h, tim_inoculation t ,vaccine v ,user u where t.id=h.id AND t.id=u.id AND t.id=v.id AND v.id=#{id}
    </select>
    <resultMap id="TimInoculation" type="com.medical.entity.TimInoculation">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="vid" column="vid"/>
        <result property="uid" column="uid"/>
        <result property="hid" column="hid"/>
        <result property="timState" column="tim_state"/>
        <collection property="user" ofType="com.medical.entity.User">
            <id property="id" column="id"/>
            <result property="enrollDate" column="enroll_date"/>
            <result property="uState" column="u_state"/>
            <result property="name" column="name"/>
        </collection>

        <collection property="vaccine" ofType="com.medical.entity.Vaccine">
            <id property="id" column="id"/>
            <result property="vname" column="vname"/>
        </collection>

        <collection property="hospital" ofType="com.medical.entity.Hospital">
            <id property="id" column="id"/>
            <result property="hName" column="h_name"/>
        </collection>
    </resultMap>
</mapper>